{{ define "title" }}{{ .Title | markdownify }}{{ end }} {{ define "schema-dot-org" }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    {{- /* Google recommends the headline be no more than 110 characters */}}
    "headline": "{{ substr .Title 0 110 }}",
    {{- with .Params.images -}}{{ range first 1 . }}
    "image": {
    "@type": "ImageObject",
    "url": "{{ . | absURL }}"
    {{- /* Don't try to get imageConfig if image param is not local */ -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with (imageConfig (printf "/static/%s" .)) -}}
    ,
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end -}}{{ end }}
  "url": "{{ printf "%s" .Permalink }}",
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .PublishDate.IsZero }}
  "datePublished": "{{ .PublishDate.Format $ISO8601 }}",
  {{- else }}
  "datePublished": "{{ .Date.Format $ISO8601 }}",
  {{- end }}
  {{- if not .Lastmod.IsZero }}
  "dateModified": "{{ .Lastmod.Format $ISO8601 }}",
  {{- end }}
  {{- with .Site.Social.GooglePlus }}
  "publisher": "{{ printf "%s" . }}",
  {{- end }}
  "author": {
  "@type": "Person",
  "name": "{{ .Params.author | default .Site.Params.author }}"
}
{{- if or (.Params.categories) (.Params.tags) -}}
,
"keywords": "{{ delimit (union .Params.categories .Params.tags) ", " }}"
{{- end }}

{{- with .Params.description -}}
,
"description": "{{ . }}"
{{- end }}
}
</script> {{ end }} {{ define "main" }} {{ $dateFormat := default " 02 Jan 2006" (index .Site.Params "date_format") }}


    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Notes on Using</span>
                    <br>
                    <span class="major_line">Data Science and Machine Learning</span>
                    <br>
                    <span class="minor_line">by a particle physicist searching for Dark Matter</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <a href="about/othmane_rifki.html">Othmane</a> is a postdoctoral fellow at <a href="https://www.desy.de/">DESY</a>.
                </p>
            </div>
        </div>


<!-----------------------------------------------------------------------------
                                PYTHON
------------------------------------------------------------------------------>
        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Python</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/python/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Numpy</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/python/numpy" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Matplotlib</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/python/matplotlib" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Pandas</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/python/pandas" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-----------------------------------------------------------------------------
                                LINUX
------------------------------------------------------------------------------>
        <div class="row" id="linux">
            <div class="col-sm-12">
                <h3 class="category_header">Linux</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/linux/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Search</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/linux/search" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<!-----------------------------------------------------------------------------
                                SCRIPTING
------------------------------------------------------------------------------>
        <div class="row" id="scripting">
            <div class="col-sm-12">
                <h3 class="category_header">Scripting</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/scripting" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


<!-----------------------------------------------------------------------------
                                Java
------------------------------------------------------------------------------>
        <div class="row" id="java">
            <div class="col-sm-12">
                <h3 class="category_header">Java</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/java/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

<!-----------------------------------------------------------------------------
                                C++
------------------------------------------------------------------------------>
        <div class="row" id="cpp">
            <div class="col-sm-12">
                <h3 class="category_header">C++</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/cpp/basics" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


<!-----------------------------------------------------------------------------
                                MATHEMATICS
------------------------------------------------------------------------------>
        <div class="row" id="math">
            <div class="col-sm-12">
                <h3 class="category_header">Mathematics</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Statistics</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "technical_note/math/stats" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-----------------------------------------------------------------------------
                                END
------------------------------------------------------------------------------>
    </div>




  {{ end }}